<style type="text/css">
ul{
	background-color:red;
	width: 500px;
	margin:auto;
		
}
.active{
	background-color:blue;
}

</style>
<h1>Fair Use Calculator</h1>
<%= render :partial => "test_answers/form", :locals => { :questions => @questions, :test_answer => @test_answer } %>