<style type="text/css">

</style>
<h1>Fair Use Calculator</h1>
<table class="scoreboard">
	<thead>
		<tr>
			<th>Scoreboard</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Purpose</td>
			<td><div></div></td>
		</tr>
		<tr>
			<td>Character</td>
			<td><div></div></td>
		</tr>
		<tr>
			<td>Use</td>
			<td><div></div></td>
		</tr>
		<tr>
			<td>Nature</td>
			<td><div></div></td>
		</tr>
		<tr>
			<td>Amount</td>
			<td><div></div></td>
		</tr>
		<tr>
			<td>Impact</td>
			<td><div></div></td>
		</tr>
	</tbody>
</table>
<%= render 'test_answers/form' %>
