<div class="questions row">
	<h1>Fair Use Calculator</h1>
	<h3>Answer all the following questions!</h3>
	<%= render 'test_answers/form' %>
</div>
<script type="text/javascript">
	$(".questions").find(".btn-large").attr("value","Calculate!");
	$(".questions").find(".btn-large").css("padding","0px 45px");

</script>