<div class= "desk">
	<h1>Desk</h1>
	<%= link_to	"What's Fair Use", wfu_path, :class => "btn"%>
	<%= link_to	"Legal Cases", legal_cases_path, :class => "btn"%>
	<%= link_to	"Scenario", "", :class => "btn"%>
	<%= link_to	"Calculator", calculator_path, :class => "btn"%>
</div>



