<div class= "fair">
	<h1><%=@current_role.name%></h1>
	<%= link_to	"What's Fair Use", "", :class => "btn"%>
	<%= link_to	"Legal Cases", legal_cases_path, :class => "btn"%>
	<%= link_to	"Scenario", "", :class => "btn"%>
</div>



