<div class= "home">
	<h1>use it right!</h1>	
	<div class="roles">
		<h3>check your knowledge on fair use!!!</h3>
		<ul >
			<li>
				<h2>choose a role</h2>
				<a href="">START OVER</a>
			</li>
			<% 5.times do %>
				<li><%= image_tag "writer.png"%></li>
			<%end%>
		</ul>	
	</div>
	

</div>


