<div class= "home">
	<h1>Catchy title/ephrase</h1>	
	<p>
		This website explains what fair use is and shows what everybody is affected. It's made for people who want to unserstand how to handle copyright material correctly - Nobody likes trouble
	</p>
	<%=image_tag "Video.png"%>
	<h3>What do you want to be?</h3>
	<%= render 'roles/panel'%>

</div>


