<table class="scoreboard table">
	<thead>
		<tr>
			<th>Scoreboard</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Purpose</td>
			<td><div name="test_answer[purpose_id]"></div></td>
		</tr>
		<tr>
			<td>Character</td>
			<td><div name="test_answer[character_id]"></div></td>
		</tr>
		<tr>
			<td>Use</td>
			<td><div name="test_answer[use_id]"></div></td>
		</tr>
		<tr>
			<td>Nature</td>
			<td><div name="test_answer[nature_id]"></div></td>
		</tr>
		<tr>
			<td>Amount</td>
			<td><div name="test_answer[amount_id]"></div></td>
		</tr>
		<tr>
			<td>Financial</td>
			<td><div name="test_answer[financial_id]"></div></td>
		</tr>
	</tbody>
</table>