<h1>WOW You Already tested a Survey</h1>
<h3>and you got <%=@result%></h3>
<p>Do you want to store you test?</p>
<%= render :partial => "fair_use_tests/form", :locals => { :test_answer => @test_answer, :result => @result, :fair_use_test => @fair_use_test } %>
