<h1>Your Cases Answers</h1>
<table>
<% @case_answers.each do |c|%>
		<tr>
			<td><h2><%=c.case.title%></h2></td>
			<td><%= link_to "Show", case_case_answer_path(c.case.title, c) %></td>
		</tr>
<%end%>
</table>

