<div class="user-answers">
	<h1>Your Cases Answers</h1>
	<table class="table">
		<% @case_answers.each do |c|%>
			<tr>
				<td><%=c.case.title%></td>
				<td><%= link_to "Show", case_case_answer_path(c.case.title, c) %></td>
				<td><%= link_to 'Delete', c, :confirm => 'Are you sure?', :method => :delete%></td>
			</tr>
		<%end%>
	</table>
</div>

