<h1>Legal Cases</h1>
<!-- This Part is dedicated to Admin Only -->
<%= link_to "Add New Case", new_legal_case_path %>
<!-- This Part is dedicated to Admin Only -->
<div class="cases">
	<% @legal_cases.each do |c|%>
			
		<%= link_to c.title, legal_case_path(c.title), :class => "btn" %>
	<%end%>
</div>