<div class= "home">
	<h1>use it right!</h1>
	<div class="back">
		<div class="roles">
			<h3>check your knowledge on fair use!!!</h3>
			<%= render 'roles/index'%>	
		</div>
		<div class="video">
			<%= image_tag "video.jpg"%>		
		</div>
	</div>	
</div>


