<div id="about">
	<h1>About</h1>
	<br>
	<p>
		<strong>The Fair Use Tool</strong>: is a fun, interactive, online tool for youth of all ages to begin to learn more about the concept of Fair Use. The tool is designed to be used in both formal academic environments, (e.g. schools) as well as informal (e.g. after-school-programs, clubs, homes, etc.).
	</p>

	<p>The Fair Use Tool was developed by the Youth and Media Lab, at the Berkman Center for Internet & Society at Harvard University, in coordination with the Google Summer of Code.</p>


	<p>For more information, please check out our partners.</p>

	<ul>
		<li><a href="http://youthandmedia.org/">Youth and Media Lab</a></li>
		<li><a href="http://cyber.law.harvard.edu/">Berkman Center for Internet & Society</a></li>
		<li><a href="http://www.law.harvard.edu/">Harvard Law School</a></li>
		<li><a href="http://code.google.com/soc/">Google Summer of Code</a></li>
	</ul>
	<div id="logos">
		<%=image_tag "berkman.png", :width => 130%>
		<%=image_tag "YAM.png", :width => 320%>
		<%=image_tag "http://blog.vizzeco.com/Portals/153087/images/Google%20logo%20transparent.png", :width => 200%>
	</div>
</div>