<div id="resources">
	<h1>Learn More</h1>
	<br>
	Want to learn more about fair use?
	<ul>
		<li>
			<a href="http://www.copyright.gov/fls/fl102.html">U.S. Copyright Office: Definition of Fair Use</a>
		</li>
		<li>
			<a href="http://fairuse.stanford.edu/Copyright_and_Fair_Use_Overview/chapter9/">Stanford University: An Overview of Fair Use</a>
		</li>
		<li>
			<a href="http://worldsfairuseday.org">World's Fair Use Day:</a> an annual conference about fair use, which also runs a blog
		</li>
	</ul>

	Videos About Fair Use
	<ul>
		<li>
			<a href="http://funtostayatthedmca.info/">Fun to Stay at the DMCA</a>
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=CJn_jC4FNDo&feature=youtu.be&t=6m23s">A Fair(y) Use Tale</a>: A Disney Parody Explanation of Copyright and Fair Use
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=8tWhKeb-fUQ">Copyright Education User Rights (from Media Education Lab)</a>
		</li>
		<li>
			<a href="http://www.avantgarland.com/everything-is-a-remix-4-part-web-video-series/">Everything is a Remix</a>: a four-part web series
		</li>
		<li>
			<a href="http://www.nfb.ca/film/rip_a_remix_manifesto">RiP! A Remix Manifesto</a>: - feature-length documentary on remix culture
		</li>
	</ul>

	Want to get other opinions about fair use?
	<ul>
		<li>
			<a href="https://www.lib.umn.edu/copyright/fairthoughts">Thinking Through Fair Use</a>: University of Minnesota
		</li>
		<li>
			<a href="http://ogc.yale.edu/legal_reference/pdf/Fair-Use-Tool-Website.pdf">Fair Use Analysis Tool</a>
		</li>
		<li>
			<a href="http://www.benedict.com/Info/FairUse/Visualizer/Visualizer.aspx">Fair Use Visualizer</a>
		</li>
		<li>
			<a href="http://librarycopyright.net/resources/fairuse/fairness.php">Fair Use Evaluator</a>
		</li>
		<li>
			<a href="http://copyright.columbia.edu/copyright/files/2009/10/fairusechecklist.pdf">Fair Use Checklist</a>: via Columbia University
		</li>
	</ul>

	Cool Examples of Fair Use
	<ul>
		<li>
			<a href="http://www.centerforsocialmedia.org/fair-use/best-practices/online-video/fair-use-online-video-discussing-clips">Fairly Used Videos from the Center for Social Media</a>
		</li>
		<li>
			<a href="http://blip.tv/center-for-social-media/remix-culture-the-early-years-1053202">Remix Culture: The Early Days</a>
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=hX1YVzdnpEc&feature=BFa&list=UUvHn0MTf40rdEQu6Y2yNL5g">Barack Obama, Singing "Call Me Maybe"</a>
		</li>
		<li>
			<a href="http://www.youtube.com/watch?v=AijEQN6AuRs">Barack Obama, Singing "Born This Way"</a>
		</li>
		<li>
			<a href-"http://www.youtube.com/user/BadLipReading">Bad Lip Reading</a>: The original audio for these videos has been removed, and the videos have been re-dubbed.
		</li>
		<li>
			<a href="http://www.youtube.com/pogo">Pogo</a>: a movie/electronic music remix artist
		</li>
		<li>
			<a href="http://supercut.org/">Supercut</a>: Video montages of specific tropes from movies/TV
		</li> 
	</ul>

	 Educators, click here!
	<ul>
		<li>
			<a href="http://mediaeducationlab.com/code-best-practices-fair-use-media-literacy-education/">Code of Best Practices in Fair Use for Media Literacy Education</a>
		</li>
		<li>
			<a href="http://www.teachingcopyright.org/">Teaching Copyright</a>: an Electronic Frontier Foundation project
		</li>
		<li>
			<a href="http://www.copyrightfoundation.org/content.php?key=gradessubjectstable">Copyright Alliance's Library of Classroom curricula</a>
		</li>
	</ul>
</div>
