<ul >
	<li>
		<h2>choose a role</h2>
		<%if @current_visitor.progress != "0"%>
			<%=link_to "START OVER",{:controller => "sessions", :action => "start_over"}%>
		<%end%>
	</li>
	<%Role.available.order('id').each do |role|%>
		<li>
			<%=link_to({:controller => 'roles', :action => 'set_role', :id => role.id}) do %>	
            	<%= image_tag role.name.downcase + ".png"%>
				<h4><%=role.name%></h4>
          	<%end%>
		</li>
	<%end%>
	
	
</ul>