<style type="text/css">
body{
	background-color: #db0017;
}
</style>
<div class="intro">
	<h1>What is Fair Use?</h1>
	<p>
		To help you learn more about Fair Use, on this site, we have many fun activities to help you learn how you can use other people’s work to the fullest, and fairest, advantage! 
	</p>
	<p>
		For example, we help to bring these issues to life by using examples from legal cases where an issue of Fair Use arose. Each of the legal cases are divided into 6 separate sections to allow you to understand Fair Use better.
	</p>
	<div class="aspect">
		<ul class="nav nav-tabs" id="aspects">
			<li><a href="#about">ABOUT FAIR USE</a></li>
		  	<li class="active"><a href="#purpose">PURPOSE</a></li>
		  	<li><a href="#character">CHARACTER</a></li>
		  	<li><a href="#use">USE</a></li>
		  	<li><a href="#nature">NATURE</a></li>
		  	<li><a href="#amount">AMOUNT</a></li>
		  	<li><a href="#financial">MARKET</a></li>
		</ul>
		<div class="tab-content">
			<%@aspects.each do |aspect|%>
				<div class="tab-pane" id="<%=aspect.name.downcase%>">
					<h3><%=aspect.name%></h3>
					<h4><%=@questions[aspect.id - 1].explanation%></h4>
					<p><%=aspect.explanation%></p>
				</div>
			<%end%>
		</div>
	</div>
	<button href="" class="quiz-button">TAKE A QUIZ</button>
</div>
<script>
	$('.tab-content').find('.tab-pane').eq(0).addClass('active');
	$('#aspects a').click(function (e) {
	  e.preventDefault();
	  $('.quiz').hide();
	  $('button').show();	
	  $(this).tab('show');
	});
</script>