/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
	background-color:rgb(230, 230, 230);
	background-repeat: no-repeat;
	font-family: "Ubuntu", "MS Trebuchet", sans-serif;
	margin:40px;
}
.question-box {
	background-color:white;
	width: 500px;
	border-radius: 10px;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.4);
	padding:10px;
	list-style-type: none;
	position: absolute;
	left:350px;
	top:130px;

}
.question-box h3{
	margin-top:0px;
}

.question-box button, .question-box:last-child input[type="submit"]{
	float:right;
	margin-top:10px;
}
.scoreboard{
	background-color:white;
	width: 200px;
	margin:auto;
	border-radius: 10px;
	padding:10px;
	margin-bottom:20px;
	list-style-type: none;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.4);
	position: fixed;
}
.scoreboard tr td:last-child div{
	width:22px;
	height:22px;
	border-radius:20px;
	border:1px solid gray;
}
.scoreboard tr{
	height:50px;
}


