.test-case{
	text-align:center;
	h1{
		font-family:"KomikaTitleAxisRegular";
		letter-spacing:3px;
		font-size:35px;
		margin-top:10px;
		text-align:left;
		margin-bottom:10px;
	}
	.test-case-wrapper{
		background:white;
		overflow:hidden;
		padding:20px;
		-webkit-border-radius: 15px;
     	-moz-border-radius: 15px;
        border-radius: 15px;

        #case-resources{
        	width:350px;
        	display:inline-block;
        	float:left;
	        img{
	        	width:130px;
	        	height:130px;
	        }
	        h4{
	        	display:inline-block;
				font-family:"KomikaTitleAxisRegular";
				font-size:17px;
				color:black;
				margin: 0 10px;
				margin-top:65px;
	        }
		}

		#case-details{
			overflow: auto;
			height:200px;
			padding-top:10px;
			color:black;
			width:400px;
			display:inline-block;
			text-align:left;
			float:right;
			margin-bottom:10px;
			h4{
				font-family: "Conv_HelveticaNeueLTStd-MdCn";
				font-size:22px;
				letter-spacing:1px;
			}
		}
		.tabs-left{
			background:green;
			clear:both;
			margin:0;
			ul{
				margin:0;
				border-right:0;
			}
			ul,a{
				background:#fbe5bd;
			}
			a{
				padding:5px 10px;
				margin:0;
				webkit-border-radius: 0 0;
				moz-border-radius: 0 0;
				border-radius: 0 0;
				border:none;
				color:black;
				text-align:left;
				font-weight:bold;
				font-size:16px;
				span{
					color:#e5be82;
					font-family:"KomikaTitleAxisRegular";
					margin-right:10px;
					font-weight:bold;
					font-size:25px;
				}
			}
			a:hover, .active a{
				background:#f5c060;
				span{
					color:white;
					text-shadow: 2px 2px #e0a042;
				}
			}
			#help ul{
				background:white;
				padding-top:5px;
				text-align:left;
				li{
					list-style:none;
					margin-top:3px;
					h6{
						display:inline-block;
						color:black;
						font-family: "Conv_HelveticaNeueLTStd-Cn";
						font-size:10px;
						margin-left:5px;
						letter-spacing:1px;
						position:relative;
						top:2px;
					}
				}
			}
			.tab-content{
				display:inline-block;
				float:left;
				background:#f5c060;
				height:290px;
				width:300px;
				border:none;
				webkit-border-radius: 0 0;
				moz-border-radius: 0 0;
				border-radius: 0 0;
				padding:10px;

				.tab-pane{
					background:none;
					margin:0;
					.info{
						background:none;
						position:relative;
						right:5px;
					}
					h5{
						font-family: "Conv_HelveticaNeueLTStd-MdCn";
						font-size:16px;
						letter-spacing:1px;
						margin-bottom:11px;
						margin-top:2px;
						.info{
							bottom:2px;
						}	
					}
					.answer{				
						margin-bottom:8px;
						.info{
							top:4px;
						}
						input{
							position:relative;
							bottom:4px;
						}
						label{
							display:inline;
							font-family: "Conv_HelveticaNeueLTStd-Cn";
							font-size:17px;
						}	
					}
				}	
			}
			.case-result{
				float:left;
				background:red;
				width:300px;
				background:#fbe5bd;
				height:290px;
				padding:10px;
				font-family: "Conv_HelveticaNeueLTStd-Cn";
				color:black;
				h2{
					padding-top:70px;
				}
				.btn{
					margin-top:20px;
					font-family:"KomikaTitleAxisRegular";
					background-color: #7e8e96;
					background-image:none;
					color:white;
					padding:10px 20px;
					border:none;
					box-shadow: 1px 1px rgba(0,0,0,0.1);
				}
				.btn:hover{
					text-shadow:0px 0px 1px white;
				}
				.judgement-panel{
					li,h3{
						display:inline-block;
					}
					sub{
						margin:0 5px;
						font-size:12px;
						position:relative;
						font-weight:bold;
						top:7px;
						font-family: "Conv_HelveticaNeueLTStd-MdCn";
					}
					h3{
						position:relative;
						top:7px;
						font-size:25px;
					}
					li:nth-child(2){
						margin: 0 15px;
					}
				}
			}
		}
	}	
}