.home{
	text-align:center;
	h1{
		text-align:center;
		font-family:"KomikaTitleAxisRegular";
		font-size:80px;
		letter-spacing:5px;
		margin-top:50px;
		margin-bottom:50px;
		text-shadow: 10px 10px  rgba(0,0,0,0.4);
		text-transform:capitalize;
	}

	.back{
		background-color:white;
		margin-top:150px;
		height:280px;
		margin-bottom:-40px;

		.roles,.video{
			background-color: #9fd423;
			background-image: -moz-linear-gradient(top, #9fd423, #73ad27);
			background-image: -ms-linear-gradient(top, #9fd423, #73ad27);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9fd423), to(#73ad27));
			background-image: -webkit-linear-gradient(top, #9fd423, #73ad27);
			background-image: -o-linear-gradient(top, #9fd423, #73ad27);
			background-image: linear-gradient(top, #9fd423, #73ad27);
			background-repeat: repeat-x;	
		}
		.roles{
			position:relative;
			bottom:80px;
			left:20px;
			width:450px;
			text-align:center;
			padding:5px;
			font-family:"KomikaTitleAxisRegular";
			border: 7px solid #235d30;
			-webkit-border-radius: 15px;
	     	-moz-border-radius: 15px;
	        border-radius: 15px;
	        float:left;

	        h3{
	        	font-size:16px;	
	        	letter-spacing:2px;
	        
	        }

	        ul{
	        	list-style:none;
	        	overflow:hidden;    	
	        	margin-top:10px;
	        	

	        	li {
	        		width:120px;
	        		height:120px;
	        		float:left;
	        		text-align:center;
	        		margin-right:20px;
	    			 
	    			a{
	    				color:white;
	    				text-decoration:none;
	    			}
	    			a img{
	    				border-radius: 15px;
	    				width:100px;
	    				height: 100px;
	    				-webkit-transition: all 0.2s;
	    				-moz-transition: all 0.2s;
	    			}
	    			a:hover{
	    				h4{
	    					text-shadow: 0px 0px 2px white;
	    				}
	    				img{
	    					width:115px;
	    					height: 115px;
	    					box-shadow: 0px 0px 15px white;	
	    				}
	    			}
	    			h4{
	    				
	    				position:relative;
	    				bottom:26px;
	    				left:17px;
	    				text-align:left;
	    				font-size:14px;
	    				letter-spacing:2px;
	    			}
	        		
	        	}
	        	li:last-child{
	        		h4{
	        			font-size:12px;	
	        			left:16px;
	        		}
	        	}
	        	li:nth-child(3){
	        		h4{
	        			bottom:40px;
	        			font-size:11px;	
	        		}
	        		
	        	}
	        	li:first-child{
	        		h2{
	        			font-size:24px;	
	        			letter-spacing:2px;
	        			line-height:27px;
	        			margin-top:20px;
	        		}
	        		a{
	        			font-size:11px;
	        			background-color:rgba(0,0,0,0.3);
	        			padding:0px 10px;        			
	        			position:relative;
	        			top:15px;
	        			right:2px;
	        			letter-spacing:1px;
	        			box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	        		}
	        		a:hover{
	        			box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	        			text-shadow: 0px 0px 5px rgba(255,255,255,0.6);	
	        		}
	        	}
	        	li:first-child, li:nth-child(2), li:nth-child(3){
	        		margin-bottom:15px;

	        	}
	        }
		}

		.video{
			float:right;
			padding:3px;
			position:relative;
			bottom:80px;
			right:20px;
			padding-bottom:15px;
			width:250px;	
			-webkit-border-radius: 5px;
	     	-moz-border-radius: 5px;
	        border-radius: 5px;
	        cursor:pointer;
		}	
	}	
}