@font-face {
    font-family: 'KomikaTitleAxisRegular';
    src: url('fonts/KomikaTitle-Axis-webfont.eot');
    src: url('fonts/KomikaTitle-Axis-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KomikaTitle-Axis-webfont.woff') format('woff'),
         url('fonts/KomikaTitle-Axis-webfont.ttf') format('truetype'),
         url('fonts/KomikaTitle-Axis-webfont.svg#KomikaTitleAxisRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-BdCn';
    src: url('fonts/HelveticaNeueLTStd-BdCn.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-BdCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-MdCn';
    src: url('fonts/HelveticaNeueLTStd-MdCn.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-MdCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	padding-top:60px;
	background-color:#114863;
}

.container{
	margin:auto;
	
}

footer{
	width:800px;
	margin:auto;
	text-align:center;
    margin-top:8px;
}

