@font-face {
    font-family: 'KomikaTitleAxisRegular';
    src: url('fonts/KomikaTitle-Axis-webfont.eot');
    src: url('fonts/KomikaTitle-Axis-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KomikaTitle-Axis-webfont.woff') format('woff'),
         url('fonts/KomikaTitle-Axis-webfont.ttf') format('truetype'),
         url('fonts/KomikaTitle-Axis-webfont.svg#KomikaTitleAxisRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-BdCn';
    src: url('fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'), 
         url('fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'), 
         url('fonts/HelveticaNeueLTStd-BdCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-Cn';
    src: url('fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), 
         url('fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype'), 
         url('fonts/HelveticaNeueLTStd-Cn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-MdCn';
    src: url('fonts/HelveticaNeueLTStd-MdCn.eot');
    src: local('☺'), url('fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-MdCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	padding-top:60px;
	background-color:#114863;
}

.container{
	margin:auto;	
}

#main{
    min-height:500px;
    width:800px;
}

footer{
	width:800px;
	margin:auto;
    font-size:12px;
	text-align:center;
}

// Tabs
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 1px;
  line-height: 18px;
}


.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  font-family:"Conv_HelveticaNeueLTStd-MdCn";
  font-size:18px;
  color:white;
  background-color:#a8593e;
  padding-top: 13px;
  padding-bottom: 5px;
  line-height: 18px;
  border: 3px solid black;
  min-width:29px;
  text-align:center;
  -webkit-border-radius: 10px 10px 0 0;
     -moz-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;         
}

.nav-tabs > li > a:hover {
  background-color:#f49a00;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {

  cursor: default;
  background-color: #f49a00;
}
.nav-tabs > .active > a {
  color: black;
  border-bottom: 3px solid #f49a00;
  text-decoration:none;
}

.tab-content {
  overflow: auto;
  background-color:#f49a00;
  border: 3px solid black;
  -webkit-border-radius:0 0 10px 10px;
  -moz-border-radius:0 0 10px 10px;
  border-radius:0 0 10px 10px;
  padding:20px 50px;
}
.tab-content > .tab-pane{
  background-color:white;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
  color:black;
  padding:10px;
  text-align:left;
}

.tab-content > .tab-pane h4{
  font-style:italic;
  color:gray;
}

//navbar
.navbar .nav {
  display: block;
  float: right;
  margin-top:15px;
}
.navbar .nav.pull-right {
  float: right;
}

.navbar .nav > li {
  display: block;
  float: left;
}
.navbar .nav > li > a {
  font-family: 'Conv_HelveticaNeueLTStd-MdCn';
  font-weight:bold;
  font-size:14px;
  float: none;
  padding-left: 20px;
  line-height: 19px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inner {
  min-height: 45px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #9fd423;
  background-image: -moz-linear-gradient(top, #9fd423, #73ad27);
  background-image: -ms-linear-gradient(top, #9fd423, #73ad27);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9fd423), to(#73ad27));
  background-image: -webkit-linear-gradient(top, #9fd423, #73ad27);
  background-image: -o-linear-gradient(top, #9fd423, #73ad27);
  background-image: linear-gradient(top, #9fd423, #73ad27);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#9fd423', endColorstr='#73ad27', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

// brand
.navbar .brand:hover {
  text-decoration: none;
  text-shadow: 3px 3px rgba(0,0,0,0.4);
}

.navbar .brand {
  font-family: 'KomikaTitleAxisRegular';
  display: block;
  float: left;
  font-size: 30px;
  letter-spacing:2px;
  text-shadow: 3px 3px  rgba(0,0,0,0.2);
  line-height: 1;
  color: white;
}