@import "mixins.css.scss";
.cases{
	text-align:center;
	.cases-wrapper{
		background-color:#F49A00;
		padding: 20px;
		text-align:center;
		-webkit-border-radius: 15px;
     	-moz-border-radius: 15px;
        border-radius: 15px;
        border: 3px solid black;
        overflow:hidden;
        
        .case{
			width:300px;
			height:250px;
			display: block;
			background-color:white;
			padding:10px;
			-webkit-border-radius: 15px;
     		-moz-border-radius: 15px;
        	border-radius: 15px;
        	box-shadow: 8px 8px rgba(0,0,0,0.2);
        	color:black;
        	margin:20px;
        	float:left;

			img{
				width:100px;
				height:100px;
       			margin: 10px 0;
			}
			h4{
				display:inline;
				font-family:"KomikaTitleAxisRegular";
				margin: 0 5px;
				font-size:17px;

			}
		}
		.case:hover{
			background-color:#eee;
		}
	}
}
