// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home{
	width:1000px;
	margin:auto;
	text-align:center;
	
	img{
		margin:15px 0px;
	}
	h3{
		margin-bottom:15px;
	}
}
