@import "mixins.css.scss";
.test-answer{
 	width:600px;
 	margin:auto;
 	text-align:center;

 	.Not{
 		color:red;
 		margin-bottom:5px
 	}

 	.Fair{
 		color:green;
 		margin-bottom:5px
 	}

 	ul{
 		@include awesome(400px, white);
 		margin:auto;
 		
 	}

 	p{
 		margin-top:10px;
 	}
 	form .btn {
 		margin-top:-10px;
 	}
 }
