@import "mixins.css.scss";
.test-answer{
	@include awesome(500px, white);
 		margin:auto;
 		text-align:center;

 	.Not{
 		color:red;
 		margin-bottom:5px
 	}

 	.Fair{
 		color:green;
 		margin-bottom:5px
 	}

 	ul{
 		 list-style-type: none;		
 	}

 	p{
 		margin-top:10px;
 	}
 	form .btn {
 		margin-top:-10px;
 	}
 }
.Not{
	color:red;
	margin-bottom:5px
}

.Fair{
	color:green;
	margin-bottom:5px
}