<div class="user-answers">
	<h1>Your Previous Fair Use Tests</h1>
	<table class="table">
		<% @fair_use_tests.each do |f| %>
			<tr>
				<td><%=f.name%></td>
				<td><%= link_to 'Show', f %></td>
				<td><%= link_to 'Delete', f, :confirm => 'Are you sure?', :method => :delete%></td>
			</tr>
		<%end%>
	</table>
</div>
